body{
	font-family: 'Poiret One', cursive;
	background-color:#333;
	color:#FFF;
	line-height:1.2;
	letter-spacing:0;
	overflow: hidden;
}
h1{
	font-size: 6em;
	margin-bottom: 20px;
}
video{
	width: 100%;
	height:auto;
	max-height: 100%;
}
.headline-wrapper{
	transform:translateY(-50%);
	position:absolute;
	top:50%;
	width: 100%;
	text-align: center;
}
.section-full-background{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.section-full-background video{
	min-width: 100%;
	min-height: 100%;
}
.section-full {
	overflow: hidden;
	position: relative;
	width: auto;
	object-fit: cover;
}
.timer-content{
}
.countdown-section{
	margin-right: 10px;
}
.countdown-amount{
	margin-right: 10px;
	font-size: 3em;
}
footer{
	position: absolute;
	bottom:0;
	width: 100%;
}
.footer-text{
	text-align: right;
	margin-right: 20px;
}